
<div class="jumbotron center">
	<h2>About</h2>
	<p1>FACE! Get it? About...Face. </p1>
       
    <% if user_signed_in? %>
    	<h2>Mission Statement</h2>
    	<p1>Spread Joy and Community.</p1>
    	
    	<h2>Info</h2>
    	<p1>The purpose of curiXO is to help people stay connected regardless of what technology you have or know how to use. 
    	</p1>

    <% end %>  
</div>