<% if user_signed_in? %>
  <!-- youcanbook.me  for scheduling-->
  <!-- ad blockers block this sometimes-->
  <iframe src="https://curixo.youcanbook.me/?noframe=true&skipHeaderFooter=true" style="width:100%;height:1000px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true" onload="keepInView(this);"></iframe>
  <script>function keepInView(item) {if((document.documentElement&&document.documentElement.scrollTop)||document.body.scrollTop>item.offsetTop)item.scrollIntoView();}</script>
<% else %>
  <h1>Please Sign In to access the schedule</h1>
<% end %>
